body{
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: nav-font;
    src: url('/static/fonts/Roboslab/RobotoSlab-Light.ttf');
}
@font-face {
    font-family: svg-font;
    src: url('/static/fonts/Montserrat/Montserrat-Black.ttf');
}

.nav-bar{
    width: 100%;
    height: 10%;
    display: inline-flex;
    position: absolute;
    /* z-index: 1; */
    margin: auto;
}
.nav-bar-component{
    list-style-type: none;
    /* width: 100%; */
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    margin: auto;
}
li{
    display: inline-flex;
    color: #446db6;
    padding-inline: 1em;
    font-size: 1em;
    font-family: nav-font;
    flex-direction: row-reverse;
    align-items: center;
    
}
li:hover{
    font-weight: bold;
    cursor: pointer;
}

.footer-obj {
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
}

.footer-obj svg {
    position:relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 225px;
}

.footer-obj .shape-fill {
    fill: #446DB6;
}
footer{
    margin-top: auto;
}
.footer-element{
    z-index: inherit;
}

.img-box{
    position: absolute;
    width: 100%;
}
.img-container{
    position: relative;
}

svg{
    position: absolute;
    font-family: svg-font;
    font-weight: bold;
    font-size: 10em;
    transition: 1s font-size;
}
@media screen and (max-width: 750px){
    svg{
        font-size: 6em;
    }   
}

video{
    width: 100%;
    height: 100%;
    margin: auto;
    
}
svg rect{
    fill: white;
    mask: url(#mask);
    
}