body {
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: nav-font;
  src: url("/static/fonts/Roboslab/RobotoSlab-Light.ttf");
}
@font-face {
  font-family: svg-font;
  src: url("/static/fonts/Montserrat/Montserrat-Black.ttf");
}

.nav-bar {
    width: 50%;
    margin-top: 3vh;
    display: flex;
    justify-content: space-around;
    margin-left: 25%;
    color: #446db6;
}
.nav-bar:hover{
    cursor: pointer;
}



a:visited {
  color: #446db6;
}

.footer-obj {
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.footer-obj svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 225px;
}

.footer-obj .shape-fill {
  fill: #446db6;
}

footer::before {
  content: "";
  display: block;
  border-top: 3px solid #446db6; /* You can customize the color and thickness */
  margin: 20px 0; /* Adjust the margin as needed */
}

footer {
  position: relative;
  margin-top: auto;
  width: 100%;
  bottom: 0;
}
.footer-element {
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1em;
  flex-wrap: wrap;
  font-size: 8vh;
  color: #446db6;
}

/* new code  */

.pt-100 {
  padding-top: 3em;
}
.pb-100 {
  padding-bottom: 8em;
}
.section-title {
  margin-bottom: 60px;
}
.section-title p {
  color: #777;
  font-size: 16px;
}
.section-title h4 {
  text-transform: capitalize;
  font-size: 40px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}
.section-title h4:before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: #446db6;
  bottom: 0;
  left: 50%;
  margin-left: -30px;
}
.section-title h4:after {
  position: absolute;
  background-color: #446db6;
  content: "";
  width: 10px;
  height: 10px;
  bottom: -4px;
  left: 50%;
  margin-left: -5px;
  border-radius: 50%;
}
ul.timeline-list {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
ul.timeline-list:before {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #446db6;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
ul.timeline-list li1 {
  position: relative;
  clear: both;
  display: table;
}
.timeline_content {
  border: 2px solid #446db6;
  background-color: #fff;
}
ul.timeline-list li1 .timeline_content {
  width: 45%;
  color: #333;
  padding: 30px;
  float: left;
  text-align: right;
}
ul.timeline-list li1:nth-child(2n) .timeline_content {
  float: right;
  text-align: left;
}
.timeline_content h4 {
  font-size: 22px;
  font-weight: 600;
  margin: 10px 0;
}
ul.timeline-list li1:before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  background-color: #446db6;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.timeline_content span {
  font-size: 18px;
  font-weight: 500;
  font-family: poppins;
  color: #446db6;
}

a:visited {
  color: #446db6;
}

.contact-logo {
  height: 6vw;
}

.footer-text {
  font-size: 8vh;
  color: #446db6;
}
h1 {
  margin: auto;
}

.work-image {
  width: 22vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.work-container {
  position: relative;
  top: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-around;
}

.works {
  position: relative;
  top: 1em;
  display: flex;
  padding-left: 10em;
  padding-right: 10em;
  justify-content: space-between;
  flex-direction: column;
}

/* *{
  color: #446db6;
} */

@media screen and (max-width: 400px) {
  .contact-logo {
    height: 10vw;
  }
}

.imgText {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  font-size: larger;
  width: 23vw;
}
.contain-img {
  display: inline-flex;
  flex-wrap: wrap;
  row-gap: 5px;
  flex-direction: column;
}
.music-img {
  display: inline-flex;
  flex-wrap: wrap;
  row-gap: 5px;
  flex-direction: column;
}
.program-img {
  display: inline-flex;
  flex-wrap: wrap;
  row-gap: 5px;
  flex-direction: column;
}
.design-img {
  display: inline-flex;
  flex-wrap: wrap;
  row-gap: 5px;
  flex-direction: column;
}
@media only screen and (max-width: 1200px) {
  .work-image {
    display: flex;
    width: 80vw;
    height: auto;
  }
  .imgText {
    width: auto;
  }
}

.buttonDownload {
  display: inline-block;
  position: relative;
  padding: 10px 25px;
  background-color: #446db6;
  color: white;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 0.9em;
  text-align: center;
  text-indent: 15px;
  border: none;
}

.buttonDownload:hover {
  background-color: #446db6;
  color: white;
  cursor: pointer;
}

.buttonDownload:before,
.buttonDownload:after {
  content: " ";
  display: block;
  position: absolute;
  left: 15px;
  top: 52%;
}

.buttonDownload:before {
  width: 10px;
  height: 2px;
  border-style: solid;
  border-width: 0 2px 2px;
}

.buttonDownload:after {
  width: 0;
  height: 0;
  margin-left: 1px;
  margin-top: -7px;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: transparent;
  border-top-color: inherit;
  animation: downloadArrow 1s linear infinite;
  animation-play-state: paused;
}

.buttonDownload:hover:before {
  border-color: #cdefbd;
}

.buttonDownload:hover:after {
  border-top-color: #cdefbd;
  animation-play-state: running;
}

@keyframes downloadArrow {
  0% {
    margin-top: -7px;
    opacity: 1;
  }

  0.001% {
    margin-top: -15px;
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    margin-top: 0;
    opacity: 0.4;
  }
}

@media screen and (max-width: 900px) {
  .nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: auto;
    margin-left: 0;
  }
}

* {
  transition: all 0.3s ease;
  font-family: nav-font;
}

.category{
  display: flex;
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 50%;
  justify-content: space-around;
}

@media screen and (max-width: 950px) {
  .category{
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  .category>span{
    padding-inline: 1em;
  }
}
@media screen and (max-width: 450px) {
  .timeline_content h4 {
      font-size: 14px;
}
}

@media screen and (max-width: 576px) {
  .footer-element {
    justify-content: center;
}
}

@media screen and (max-width: 465px) {
  #textWork {
    width: 5em;
  }
}


.none{
  display: none;
}

.category{
  cursor: pointer;
  color: #446db6;
}

#textWork{
  margin-top: 2vh;
}
.aboutme{
  font-size: larger;
}
.about-contain{
  display: inline-flex;
  padding: 1em;
  margin: auto;
}
#about-img{
  width: 25em;
}
.about-imgcontain{
  padding: 1em;
  border: solid #446db6;
}
.aboutme{
  position: relative;
  left: 1em;
  color: #446db6;
  width: 80vh;
  overflow: visible;
}
* {
  transition: all 0.3s ease;
  font-family: nav-font;
}

@media screen and (max-width: 900px) {
  .about-contain{
    flex-direction: column;
    align-items: center;
  }
  .aboutme{
    width: 80vw;
    left: 0;
  }
  
  #about-img{
    width: 30vw;
  }
}